
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

.orderPage{
    display: flex;
    justify-content: center;
    padding-bottom:5%;
    padding-top: 5%;
}
.formcontainer {
    display: flex;
    justify-content: center;
    /* background-color: darksalmon; */
    /* background-color: rgba(51, 51, 51, 0.05); */
    /* background-color:#C38d9E; */
    /* background-color: #e98074; */
    background-color:whitesmoke;
    width: 30%;
    font-style:bold;
    
    /* Set a background color for the div */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Adjust the margin-top to move it down */ 
    /* margin: auto;  */
    border-radius: 10px; /* Add this line to round the corners */
    font-size:larger;
    font-style:bold;

    /* padding-bottom:5%;
    padding-top: 5%; */
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.bagelList{

    list-style-type: none; /* Remove the bullet point */
    padding-top: 0.5em;/* Adjust the left indentation */
    text-align:left;
    white-space:normal;
}
li{
    margin-bottom: 10px;
}

.inputBox{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"]{
    width: 40px;
    height: 27px;
    border: whitesmoke;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    font-size:14px;
        font-family: "Haas Grot Text R Web",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
    

}
.bagelList{
    padding:100;
}

input[type="text"]{
    font-size:16px;
    font-family:"Haas Grot Text R Web",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;

}



button {
    /* background-color: rgba(51, 51, 51, 0.05); */
    background-color:white;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
    .formcontainer {
        
        width: 80%;
        margin: 40px auto;
        /* padding: 10px; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    /* .inputBox {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    } */
input[type="number"] {
    -webkit-appearance: none;
    flex: 1;
    width: 30px;
    height: 27px;
    border:none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
}

  .inputBox {
        -webkit-appearance: none;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  }

}